<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Habitica To-Do action for IFTTT</title>
    <meta name="description" content="Add to your Habitica To-Dos via IFTTT">
    <link id="favicon" rel="icon" href="https://glitch.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Habitica To-Do action for IFTTT
      </h1>
    </header>
    <main>
      <h2>Hello, brave [insert class here]! This app will add items to your Habitica To-Do list.</h2>
      <p>It's intended to be used via the IFTTT Maker channel, but you can find other ways to use it, too.</p>
      <p><span class="bold">What's Glitch?</span> <a href="https://glitch.com/about/">Glitch</a> is an awesome service that lets you create web apps and host them for free!</p>
      <p><span class="bold">I know how to use IFTTT, but I don't know how to code...</span> That's okay! When you <a href="https://glitch.com/edit/#!/remix/habitica-ifttt-action">remix</a> this app, you'll get your own personal copy of it. Then, as long as you can copy, paste, and follow a few simple steps, you're set!</p>
      <p> You'll want to <a href="https://glitch.com/edit/#!/habitica-ifttt-action?path=SETUP.md:1:0">view the instructions</a>, so you can see how it works and then <a href="https://glitch.com/edit/#!/remix/habitica-ifttt-action">remix</a> it to create your own. Make sure to sign up or sign in so you can save your copy.</p>
    </main>

    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>

  </body>
</html>
